body {
    background-color: #C6DBE7;
    margin: 0;
    padding: 0;
    font-family: 'Arial', Sans-Serif;
}

.currentTab {
    color: #808080 !important;
}

.nav {
    color: #000000;
    list-style: none;
    text-align: center;
    padding: 20px 0 20px 0;
}

.nav > li {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 16px;
}

.nav > li > a {
    text-decoration: none;
    color: #000000;
}

.nav > li > a:hover {
    color: #808080;
}

.logo {
    margin-top: 50px;
}

.logo > a > img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.about {
    margin-top: 50px;
    margin-bottom: 100px;
}

.container {
    display: inline-block;
    position: relative;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    display: block;
    width: 200px;
    height: auto;
}

.text {
    color: #000000;
    text-align: left;
    font-family: 'Arial', Sans-Serif;
    padding: 50px 50px;
    font-size: 16px;
    max-width: 350px;
}

.content > h1 {
    font-family: 'Arial', Sans-Serif;
    font-weight: normal;
    text-align: center;
    color: #000000;
    padding: 10px 5px;
}

.exp {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
    display: block;
}

.expHeader {
   font-weight: bold;
}

.expUnit {
    margin-right: 10%;
    margin-left: 25%;
    margin-bottom: 50px;
}

.expHeader {
    display: block;
}

.subtitle {
    color: #808080;
    margin-top: 5px;
    margin-bottom: 15px;
    font-style: italic;
}

.expText {
    text-align: left;
}
.edu {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    display: block;
}

.edu-image {
    width: 100%;
    display: block;
}

.dispBox {
    margin-left: 100px;
    margin-right: 250px;
}

.eduUnit {
    margin-left: 10%;
    margin-right: 15%;
}

.eduUnit img {
    margin-right: 50px;
}
.eduUnitText {
    padding-left: 150px;
    list-style: none;
    text-align: left;
    color: #000000;
}

.proj {
    margin-top: 50px;
    margin-bottom: 100px;
}

.projectsHead {
    font-size: 18px;
    margin: 0 auto;
    display: block;
}

.GitHubLinks img {
    margin-top: 50px;
    height: 20%;
    width: 20%;
}

.GitHubLinks img:hover {
    opacity: 0.2;
}

.cont {
    width: 100%;
    margin-top: 50px;
}

.contactMethod {
    width: 290px;
    height: 200px;
    margin: 10px 10px;
    border: 1px solid #000000;
    padding: 0 5px;
    float: inherit;
}

.contactMethod > h1 {
    font-family: 'Arial', Sans-Serif;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 0;
    margin: 0 -6px;
}

.contactLinks {
    max-width: 200px;
    margin: 25px 40px;
}

.contactLinks:hover {
    opacity: 0.2;
}


#github, #linkedin {
    margin: 20px 82px !important;
}
